<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <style>
        table,td,tr{
            border: 1px solid black;
            
        }
        th{
            font-weight: bolder;
        }
        td,th{
            padding: .5rem;

        }
    </style>
</head>
<body>
    <h1>Lista de Usuários</h1>
   
    
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Foto</th>
            <th>Deletar</th>
            <th>Editar</th>
        </tr>
        <%for(usuario of Usuarios){%>
        <tr>
            <td><%=usuario._id%></td>
            <td><%=usuario.nome%></td>
            <td><%=usuario.email%></td>
            <td><%=usuario.foto%></td>
            <td>
                <a href="/del/<%-usuario._id%>">Deletar</a>
            </td>

            <td>
                <a href="/edit/<%-usuario._id%>">Editar</a>
            </td>
            
        </tr>
        <% } %>
    </table>
</body>
</html>